.type-tour {
  font-family: "Open Sans";
  height: 100%;
  width: 100%;
}
.type-tour-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 980px;
  z-index: 2;
}
.type-tour-text h1 {
  color: #5f5f5f;
  font-family: "BigNoodleTitling";
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.type-tour-text h4 {
  color: #5f5f5f;
  text-align: center;
  font-size: 20px;
}
.type-tour-img {
  position: static;
  left: 0;
  right: 0;
  width: 100%;
  height: 700px;
  opacity: 2.25;
  z-index: 1;
}
.type-tour-pic {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  top: 1260px;
}
.type-tour-pic img {
  width: 100%;
  height: 100%;
  filter: brightness(80%);
}
.type-tour-pic h3 {
  color: #fff;
  position: absolute;
  top: 67px;
  left: 54px;
  right: 0;
  font-family: "BigNoodleTitling";
  text-transform: uppercase;
  font-size: 33px;
}
